.rates-card {
  width: 415px;
  box-shadow: 0 0 5px 5px #00000033;
  border-radius: 10px;
  margin: 30px 5px;
}

.rates-card--beginner {
  border: 2px solid #ffb64f;
  box-shadow: none;
}

.rates-card--pro {
  border: 2px solid #7ce3e1;
  box-shadow: none;
}

.rates-card--business {
  border: 2px solid #000000;
  box-shadow: none;
}

.card-header {
  height: 132px;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.card-header img {
  margin: 10px 15px 0 0;
  width: 92px;
  height: 93px;
}

.beginner {
  background-color: #ffb64f;
}

.pro {
  background-color: #7ce3e1;
}

.business {
  background-color: #000000;
  color: #ffffff;
}

.card-header-info {
  margin: 25px 0 0 20px;
}

.card-header-info h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

.card-header-info p {
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}

.active-rate,
.notactive-rate {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0 0;
}

.active-rate p {
  background-color: #3ba5e0;
  color: #ffffff;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 10px;
}

.notactive-rate p {
  background-color: #ffffff;
  color: #ffffff;
  width: fit-content;
  padding: 5px 15px;
}

.card-body {
  height: 408px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body-prize-container p {
  font-size: 18px;
  line-height: 22px;
}

.card-body-prize {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.prize-current {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

.prize-last {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  color: #0000007e;
  margin-left: 20px;
}

.rates-details p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}

.rates-details-list__item {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2px;
}

.rates-details-list__item img {
  margin-right: 10px;
}

.rates-card-btn {
  width: 355px;
  height: 59px;
  border: none;
  border-radius: 5px;
  background-color: #5970ff;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.rates-card-btn:hover {
  cursor: pointer;
  background-color: rgb(30, 165, 130);
}

.rates-card-btn--active {
  width: 355px;
  height: 59px;
  border: none;
  border-radius: 5px;
  background-color: #d2d2d2;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.rates-card-btn--active:hover {
  cursor: pointer;
  background-color: rgb(30, 165, 130);
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .rates-card {
    width: 335px;
  }

  .card-header {
    justify-content: flex-start;
    flex-direction: column;
  }

  .card-header p {
    margin: 0 0 0 20px;
  }

  .card-header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 20px;
  }

  .card-header-info h2 {
    font-size: 20px;
    line-height: 24px;
    align-self: center;
  }

  .card-header img {
    width: 60px;
    height: 61px;
    align-self: flex-start;
  }

  .active-rate,
  .notactive-rate {
    display: none;
  }

  .card-body-prize {
    margin-top: 20px;
  }

  .card-body-prize-container p {
    margin-right: 20px;
  }

  .rates-card-btn,
  .rates-card-btn--active {
    width: 286px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }
}
