header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 92vw; */
  padding: 0 4vw;
  /* margin: 0 auto; */
}

.header-menu {
  display: inherit;
  /* width: 16vw; */
  justify-content: space-between;
}

.header-menu__item {
  margin: 0 20px;
}

.header-btns {
  display: inherit;
  /* width: 19vw; */
  justify-content: space-between;
}

.registrate_btn {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  opacity: 40%;
  height: 26px;
  padding: 0 5px;
  margin: 0 15px;
}

.enter_btn {
  width: 65px;
  height: 26px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #7ce3e1;
  margin: 0 20px;
}

.registrate_btn:hover,
.enter_btn:hover {
  background-color: rgb(0, 255, 185);
  cursor: pointer;
}

.line {
  height: 26px;
  width: 2px;
  background-color: #029491;
}
