.burger--hidden {
  display: none !important;
}

.burger {
  display: block;
  cursor: pointer;
}

.burger-popup--close {
  cursor: pointer;
}

.burger-popup--close span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #029491;
}

.burger-popup--close span:nth-child(1) {
  position: relative;
  top: -5px;
}

.burger-popup--close span:nth-child(3) {
  position: relative;
  top: 5px;
}

.burger-popup--open {
  z-index: 15;
}

.burger-popup--open span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
}

.burger-popup--open span:nth-child(1) {
  transform: rotate(45deg);
}

.burger-popup--open span:nth-child(2) {
  display: none;
}

.burger-popup--open span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

@keyframes burger {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes cross {
}
