.card-text {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.why-slider__item {
  width: 400px;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #00000033;
  font-size: 18px;
  line-height: 22px;
  margin: 10px auto;
}

.why-slider__item img {
  width: 64px;
  margin: 20px 20px;
}

.why-slider__item p {
  margin: 0 20px;
}
